.footer {
    margin-top: 5rem;
    background-image: url('../../assets/footer-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.text {
    color: white;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    letter-spacing: 0.2rem;
}