.hero{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/flower-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: left -100px;
}

.title{
    margin: 1rem 1rem 1rem auto;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: clamp(2.3rem, 4vw, 2.5rem);}

.description{
    font-size: clamp(1rem, 5vw, 1.5rem);
    text-align: center;
    padding-top: 15rem;
    margin-bottom: 1rem;
    letter-spacing: 0.15rem;
    position: sticky;
}

.image{
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero{
        background-image: url('../../assets/desktop-background.png');
        background-position: left -2vh;  
    }

   .title{
        font-size: clamp(5rem, 4vw, 7rem);
        margin-bottom: 5rem;
    }

   .description{
        margin-bottom: 2rem;
        font-size: clamp(2.3rem, 2vw, 2.5rem);
    }

   .image{
        width: 80%;
        margin: 0 auto;
   }
}

@media (min-width: 1024px) {
    .hero{
        background-position: left -2vh;   
        background-size: 75%;   
        background-image: url('../../assets/desktop-background.png');
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   .title{
        font-size: clamp(7rem, 4vw, 9rem);
         width: 100%;
         height: 25%;
         margin-left: 100%;
         text-align: center;
    }

   .description{
        margin-top: 50rem;
        font-size: clamp(2rem, 3vw, 2.5rem);
        grid-column: 2;
   }

   .image{
        margin-top: -60vh;
        position: relative;
        grid-column: 1;
    }
}